.desktopMenu {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hamburger {
  display: none;
}

.mobileMenu {
  display: none;
}

@media (max-width: 640px) {
  .desktopMenu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-top: 16px;
  }
} 